body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}
.headers{
    color: #EEE;
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 4em;
    font-style: normal;
    font-weight: 700;
    line-height: 35.893px;
}
.score{
    color: #F94F6D;
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 4.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 126.666px;
    background-color: black;
    border-radius: 5%;
    width: 200px;
}
.btn-container{
    display: flex;
    justify-content: space-between;
}
.btn{
    color: #9AABD8;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    background-color: #1B244A;
    font-size: 2em;
    font-family: 'Cursed Timer ULiL', sans-serif;
    padding: 10px;
    margin: 0 4px;
}
.btn:hover{
    background: #030a28;
}